<link rel="stylesheet" href="/app/fonts/css/fontawesome.min.css">
<div dir="rtl" class="container">
    <div class="header" dir="rtl">
        <mat-label>سایت مرجع خیریه ها</mat-label>
        <mat-label>آشنایی با خیریه ها</mat-label>
        <mat-label>مشارکت با خیریه ها</mat-label>
        <mat-label>لیست خیریه ها</mat-label>
        <mat-label>تماس با ما</mat-label>
        <mat-label class="loginlbl"><a href="login">ورود</a></mat-label>
        <mat-label class="slash">/ </mat-label>
        <mat-label class="signuplbl">ثبت نام</mat-label>
       

    </div>
    <button mat-fab extended class="header-button">کمک آنلاین</button>
    <div class="imageBar">

    </div>
</div>