<link rel="stylesheet" href="/app/fonts/css/fontawesome.min.css">
<div dir="rtl" class="container">
    <div class="header" dir="rtl">
        <!-- <mat-label>سایت مرجع خیریه ها</mat-label>
        <mat-label>آشنایی با خیریه ها</mat-label>
        <mat-label>مشارکت با خیریه ها</mat-label>
        <mat-label>لیست خیریه ها</mat-label>
        <mat-label>تماس با ما</mat-label> -->
        <!-- <mat-label class="loginlbl"><a href="login">ورود</a></mat-label>
        <mat-label class="slash">/ </mat-label>
        <mat-label class="signuplbl">ثبت نام</mat-label> -->
    </div>
    <!-- <button mat-fab extended class="header-button">کمک آنلاین</button> -->
    <div class="menu" dir="rtl">
        <div class="profile">
            <img src="user.jpg" class="profile-img" alt="">
            <mat-label class="profile-lbl">حانیه کیقبادی</mat-label>
        </div>
        <mat-list role="list" dir="rtl">
            <mat-list-item role="listitem" class="top-border"><mat-label>کاربران</mat-label></mat-list-item>
            <mat-list-item role="listitem"><mat-label>خدمات و هدایا</mat-label></mat-list-item>
            <mat-list-item role="listitem"><mat-label>پرسنل(کارمندان)</mat-label></mat-list-item>
            <mat-list-item role="listitem"><mat-label>جستجو</mat-label></mat-list-item>
            <mat-list-item role="listitem"><mat-label>تنظیمات</mat-label></mat-list-item>
          </mat-list>
    </div>
</div>