body,html{
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: row;
}
.formPic{
    margin-left: 100px;
   
}
.background{
    width: 700px;
    height: 550px;
    border-radius: 8px 0px 0px 8px;
    background-color: rgba(227, 245, 255,.8);
}

.tree{
    width: 500px;
    height: 500px;
}
.formLogin{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin-top: 80px;
}
.formInput{
    margin-right: 0px;
    margin-top: 30px;
    text-align: center;
    width: 270px;
}
.formInput2{
    margin-right:0px;
    margin-top: 20px;
    width: 270px;
}
.loginBtn{
    margin-top: 15px;
    margin-right: 0px;
    width: 130px;

}
.signuptBtn{
    margin-top: -35px;
    margin-right: 140px;
    width: 130px;

}
.form{
    border-radius: 8px;
    //box-shadow: 2px 2px 2px 5px rgba(34, 36, 38,.1);
    -webkit-box-shadow: 2px 0px 13px 6px rgba(212,212,212,0.86);
    -moz-box-shadow: 2px 0px 13px 6px rgba(212,212,212,0.86);
    box-shadow: 2px 0px 13px 6px rgba(212,212,212,0.86);
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-left: 80px;
    width: 1200px;
    height: 550px;
}
.userIcon{
    width: 80px;
    height: 80px;
    margin-top: -10px;
    margin-right: 100px;
   
}
.loginlable{
    margin-top: 20px;
    margin-right: 100px;
}
.passlable{
    margin-right: 5px;
    margin-top: 25px;
}
// @media (min-width: 500px) and (orientation: landscape) {
//     /* … */
//   }
@media (max-width: 1318px){
    .form{
        width: 1100px;
    }
    .background{
        width: 600px;
    }

}
@media (max-width: 1216px){
    // .form{
    //     width: 1100px;
    // }
    .background{
        width: 500px;
    }
    .formPic{
        margin-left: 0px;
       
    }
    .form{
        width: 1000px;
    }

    
}
@media (max-width: 1130px){
    .form{
        width: 900px;
    }
   
    .background{
        width: 400px;
    }
    .tree{
        width: 400px;
    }


}
@media (max-width: 1002px){
    .form{
        width: 800px;
    }
    .formLogin{
        width: 350px;
    }


}
@media (max-width: 900px){
    .form{
        width: 700px;
    }
    .formLogin{
        width: 300px;
    }
    .background{
        width: 350px;
    }
    .tree{
        width: 350px;
    }

}
