<div class="container">
    <div class="form">
        <div class="background">
    <div class="formPic" >
        <img src="tree.png" alt="tree" class="tree">
    </div></div>
    <div class="formLogin" dir="rtl">
        <div>
            <img src="user.jpg" alt="user icon"  class="userIcon">
        </div>
        <mat-label class="loginlable">ورود به سامانه</mat-label>
        <mat-form-field class="formInput" dir="rtl">
            <mat-label >نام کاربری</mat-label>
            <input matInput type="text"  [(ngModel)]="username" name="username" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field class="formInput2" dir="rtl">
            <mat-label>کلمه عبور</mat-label>
            <input matInput type="text"  [(ngModel)]="password" name="password">
          </mat-form-field>
          <a href="main"><button mat-raised-button class="loginBtn" dir="rtl" (click)="onsubmit()"  disabled="{{buttonDisabled}}">ورود</button></a>
          <button mat-raised-button class="signuptBtn" dir="rtl">ثبت نام</button>
          <mat-label class="passlable"><a href="https://www.google.com">بازیابی کلمه عبور</a></mat-label>
    </div>
</div>
</div>