body,html{
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: row;
}
.formPic{
    margin-left: 100px;
   
}
.background{
    width: 700px;
    height: 550px;
    border-radius: 8px 0px 0px 8px;
    background-color: rgba(227, 245, 255,.8);
}

.tree{
    width: 500px;
    height: 500px;
}
.formLogin{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin-top: 80px;
}
.formInput{
    margin-right: 0px;
    margin-top: 30px;
    text-align: center;
    width: 270px;
}
.formInput2{
    margin-right:0px;
    margin-top: 20px;
    width: 270px;
}
.loginBtn{
    margin-top: 15px;
    margin-right: 0px;
    width: 130px;

}
.signuptBtn{
    margin-top: -35px;
    margin-right: 140px;
    width: 130px;

}
.form{
    border-radius: 8px;
    -webkit-box-shadow: 2px 0px 13px 6px rgba(212,212,212,0.86);
    -moz-box-shadow: 2px 0px 13px 6px rgba(212,212,212,0.86);
    box-shadow: 2px 0px 13px 6px rgba(212,212,212,0.86);
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-left: 80px;
    width: 1200px;
    height: 550px;
}
.userIcon{
    width: 80px;
    height: 80px;
    margin-top: -10px;
    margin-right: 100px;
   
}
.loginlable{
    margin-top: 20px;
    margin-right: 100px;
}
.passlable{
    margin-right: 5px;
    margin-top: 25px;
}
// @media (min-width: 500px) and (orientation: landscape) {
//     /* … */
//   }
@media (max-width: 1318px){
    .form{
        width: 1100px;
    }
    .background{
        width: 600px;
    }
}

@media (max-width: 1216px){
    .background{
        width: 500px;
    }
    .formPic{
        margin-left: 0px;
       
    }
    .form{
        width: 1000px;
    }
}

@media (max-width: 1130px){
    .form{
        width: 900px;
    }
   
    .background{
        width: 400px;
    }
    .tree{
        width: 400px;
    }
}

@media (max-width: 1002px){
    .form{
        width: 800px;
    }
    .formLogin{
        width: 350px;
    }
}

@media (max-width: 900px){
    .form{
        width: 700px;
    }
    .formLogin{
        width: 300px;
    }
    .background{
        width: 350px;
    }
    .tree{
        width: 350px;
    }

}

@media (max-width:808px) {
    .formPic{
        display: none;
    }
    .background{
        display: none;
    }
    .form{
        width: 550px;
    }
    .formLogin{
        margin-left: 110px;

    }
}
@media (max-width:676px) {
    .form{
        width: 450px;
    }
    .formLogin{
        margin-left: 60px;
    }
}
@media (max-width:572px) {
    .form{
        width: 350px;
    }
    .formLogin{
        margin-left: 14px;
    }
}
@media (max-width:453px) {
    .form{
        width: 250px;
        margin-left: 60px;
    }
    .formInput{
        width: 170px;
        margin-right: 40px;
    }
    .formInput2{
        width: 170px;
        margin-right: 40px;
    }
    .loginBtn{
        width: 65px;
        margin-right: 50px;
    }
    .signuptBtn{
        width: 65px;
        margin-right:140px;
    }
    .userIcon{
        width: 60px;
        height: 60px;
        margin-top: -10px;
        margin-right: 100px;
       
    }
    .loginlable{
        margin-top: 20px;
        margin-right: 93px;
    }
    .passlable{
        margin-right: 45px;
        margin-top: 25px;
    }
}
@media (max-width:344px) {
    .form{
        margin-left: 40px;
    }
}
@media (max-width:344px) {
  
    .formInput{
        width: 150px;
        margin-right: 50px;
    }
    .formInput2{
        width: 150px;
        margin-right: 50px;
    }
    .loginBtn{
        width: 25px;
        margin-right: 45px;
    }
    .signuptBtn{
        width: 45px;
        margin-right:145px;
    }
    .userIcon{
        width: 60px;
        height: 60px;
        margin-top: -10px;
        margin-right: 90px;
       
    }
    .loginlable{
        margin-top: 20px;
        margin-right: 83px;
    }
    .passlable{
        margin-right: 80px;
        margin-top: 25px;
    }

}
@media (max-width:304px) {
    .form{
        margin-left: 15px;
    }
}
@media (max-width:275px) {
    .form{
        margin-top: 100px;
        width: 200px;
    }

}
